<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyImageAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ModifiedScheltens Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								<hr>
								#parse("/screens/xnat_edit_experimentData.vm")
								<HR></TD></TR>
							<tr>
								<th align="left">ModifiedScheltens ID</th>
								<TD align="left">#xdatStringBox("cnda:modifiedScheltensData.ID" $item "" $vr)</TD>
							</tr>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>imageSession_ID</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/imageSession_ID" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("cnda:modifiedScheltensData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/label" $item "" $vr)</TD></TR>
							<TR><TD>assessment/virchow_robin/present</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/virchow_robin/present" $item false $vr)</TD></TR>
							<TR><TD>assessment/virchow_robin/location</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/assessment/virchow_robin/location" $item "" $vr)</TD></TR>
							<TR><TD>assessment/virchow_robin/potential_contribution</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/virchow_robin/potential_contribution" $item false $vr)</TD></TR>
							<TR><TD>assessment/virchow_robin/contribution_location</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/assessment/virchow_robin/contribution_location" $item "" $vr)</TD></TR>
							<TR><TD>assessment/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/confluent" $item false $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cnda:modifiedScheltensData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_1_COUNTER in [0..5])
<!-- BEGIN cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_2_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
								</TABLE>
<!-- END cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_2_COUNTER in [0..5])
<!-- BEGIN cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_3_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
								</TABLE>
<!-- END cnda:modifiedScheltensData/out/file[$xnat_abstractResource_2_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN cnda:modifiedScheltensData/parameters/addParam -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/parameters/addParam</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>addField</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_addField_3_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("cnda:modifiedScheltensData/parameters/addParam[$xnat_addField_3_COUNTER]/addField" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:modifiedScheltensData/parameters/addParam[$xnat_addField_3_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("cnda:modifiedScheltensData/parameters/addParam[$xnat_addField_3_COUNTER]/xnat_addField_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END cnda:modifiedScheltensData/parameters/addParam -->
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
																#xdatHiddenBox("cnda:modifiedScheltensData/provenance/prov_process_id" $item "")
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#foreach($prov_processStep_4_COUNTER in [0..5])
<!-- BEGIN cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER] -->
											<TABLE>
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR><TD>program</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/program" $item "" $vr)</TD></TR>
															<TR><TD>program/version</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/program/version" $item "" $vr)</TD></TR>
															<TR><TD>program/arguments</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/program/arguments" $item "" $vr)</TD></TR>
															<TR><TD>timestamp</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/timestamp" $item "" $vr)</TD></TR>
															<TR><TD>cvs</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/cvs" $item "" $vr)</TD></TR>
															<TR><TD>user</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/user" $item "" $vr)</TD></TR>
															<TR><TD>machine</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/machine" $item "" $vr)</TD></TR>
															<TR><TD>platform</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/platform" $item "" $vr)</TD></TR>
															<TR><TD>platform/version</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/platform/version" $item "" $vr)</TD></TR>
															<TR><TD>compiler</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/compiler" $item "" $vr)</TD></TR>
															<TR><TD>compiler/version</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/compiler/version" $item "" $vr)</TD></TR>
																					#xdatHiddenBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/prov_processStep_id" $item "")
														</TABLE>
													</TD>
												</TR>
<!-- BEGIN cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/library</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR>
																<TD>library</TD>
																<TD>version</TD>
															</TR>
															#foreach($prov_processStep_library_5_COUNTER in [0..5])
																<TR>
																	<TD>#xdatTextBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/library" $item "" $vr)</TD>
																	<TD>#xdatTextBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/version" $item "" $vr)</TD>
																	#xdatHiddenBox("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/prov_processStep_library_id" $item "")
																</TR>
															#end
														</TABLE>
													</TD>
												</TR>
<!-- END cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
											</TABLE>
<!-- END cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_4_COUNTER] -->
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("cnda:modifiedScheltensData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_7_COUNTER in [0..5])
<!-- BEGIN cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_8_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
								</TABLE>
<!-- END cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_7_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN cnda:modifiedScheltensData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_8_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("cnda:modifiedScheltensData/fields/field[$xnat_experimentData_field_8_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:modifiedScheltensData/fields/field[$xnat_experimentData_field_8_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("cnda:modifiedScheltensData/fields/field[$xnat_experimentData_field_8_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END cnda:modifiedScheltensData/fields/field -->
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>left/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/volume" $item "" $vr)</TD></TR>
										<TR><TD>left/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/confluent" $item false $vr)</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>right/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/volume" $item "" $vr)</TD></TR>
										<TR><TD>right/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/confluent" $item false $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/cnda_modifiedScheltensRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>left/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/volume" $item "" $vr)</TD></TR>
										<TR><TD>left/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/confluent" $item false $vr)</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>right/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/volume" $item "" $vr)</TD></TR>
										<TR><TD>right/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/confluent" $item false $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/cnda_modifiedScheltensRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>left/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/volume" $item "" $vr)</TD></TR>
										<TR><TD>left/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/confluent" $item false $vr)</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>right/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/volume" $item "" $vr)</TD></TR>
										<TR><TD>right/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/confluent" $item false $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/cnda_modifiedScheltensRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>left/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/volume" $item "" $vr)</TD></TR>
										<TR><TD>left/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/confluent" $item false $vr)</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>right/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/volume" $item "" $vr)</TD></TR>
										<TR><TD>right/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/confluent" $item false $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/cnda_modifiedScheltensRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns/left" $item "" $vr)</TD></TR>
										<TR><TD>right</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns/right" $item "" $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns/cnda_modifiedScheltensPvRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns/left" $item "" $vr)</TD></TR>
										<TR><TD>right</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns/right" $item "" $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns/cnda_modifiedScheltensPvRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body/left" $item "" $vr)</TD></TR>
										<TR><TD>right</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body/right" $item "" $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body/cnda_modifiedScheltensPvRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>left/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/volume" $item "" $vr)</TD></TR>
										<TR><TD>left/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/confluent" $item false $vr)</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>right/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/volume" $item "" $vr)</TD></TR>
										<TR><TD>right/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/confluent" $item false $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/cnda_modifiedScheltensRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>left/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/volume" $item "" $vr)</TD></TR>
										<TR><TD>left/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/confluent" $item false $vr)</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>right/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/volume" $item "" $vr)</TD></TR>
										<TR><TD>right/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/confluent" $item false $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/cnda_modifiedScheltensRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>left/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/volume" $item "" $vr)</TD></TR>
										<TR><TD>left/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/confluent" $item false $vr)</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>right/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/volume" $item "" $vr)</TD></TR>
										<TR><TD>right/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/confluent" $item false $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/cnda_modifiedScheltensRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>left/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/volume" $item "" $vr)</TD></TR>
										<TR><TD>left/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/confluent" $item false $vr)</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>right/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/volume" $item "" $vr)</TD></TR>
										<TR><TD>right/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/confluent" $item false $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/cnda_modifiedScheltensRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>left/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/volume" $item "" $vr)</TD></TR>
										<TR><TD>left/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/confluent" $item false $vr)</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/lesions/small" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/lesions/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/lesions/large" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/infarcts/medium" $item "" $vr)</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/infarcts/large" $item "" $vr)</TD></TR>
										<TR><TD>right/volume</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/volume" $item "" $vr)</TD></TR>
										<TR><TD>right/confluent</TD><TD>#xdatBooleanRadio("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/confluent" $item false $vr)</TD></TR>
										<TR><TD>scheltens</TD><TD>#xdatTextBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/scheltens" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/cnda_modifiedScheltensRegion_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus -->
					</TD>
				</TR>
			</TABLE>
<!-- END cnda:modifiedScheltensData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateExperimentForm();
   return false;
}
</script>
