<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyImageAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Freesurfer Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								<hr>
								#parse("/screens/xnat_edit_experimentData.vm")
								<HR></TD></TR>
							<tr>
								<th align="left">Freesurfer ID</th>
								<TD align="left">#xdatStringBox("fs:fsData.ID" $item "" $vr)</TD>
							</tr>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>imageSession_ID</TD><TD>#xdatStringBox("fs:fsData/imageSession_ID" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("fs:fsData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("fs:fsData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("fs:fsData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("fs:fsData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("fs:fsData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("fs:fsData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("fs:fsData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("fs:fsData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("fs:fsData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("fs:fsData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("fs:fsData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("fs:fsData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("fs:fsData/label" $item "" $vr)</TD></TR>
							<TR><TD>fs_version</TD><TD>#xdatStringBox("fs:fsData/fs_version" $item "" $vr)</TD></TR>
							<TR><TD>ilp_age</TD><TD>#xdatTextBox("fs:fsData/ilp_age" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/ICV</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/ICV" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/lhCortexVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/lhCortexVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/rhCortexVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/rhCortexVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/CortexVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/CortexVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/SubCortGrayVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/SubCortGrayVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/TotalGrayVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/TotalGrayVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/SupraTentorialVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/SupraTentorialVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/lhCorticalWhiteMatterVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/lhCorticalWhiteMatterVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/rhCorticalWhiteMatterVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/rhCorticalWhiteMatterVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/CorticalWhiteMatterVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/CorticalWhiteMatterVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/BrainSegVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/BrainSegVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/BrainSegVolNotVent</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/BrainSegVolNotVent" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/BrainSegVolNotVentSurf</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/BrainSegVolNotVentSurf" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/SupraTentorialVolNotVent</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/SupraTentorialVolNotVent" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/SupraTentorialVolNotVentVox</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/SupraTentorialVolNotVentVox" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/MaskVol</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/MaskVol" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/BrainSegVol-to-eTIV</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/BrainSegVol-to-eTIV" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/MaskVol-to-eTIV</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/MaskVol-to-eTIV" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/lhSurfaceHoles</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/lhSurfaceHoles" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/rhSurfaceHoles</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/rhSurfaceHoles" $item "" $vr)</TD></TR>
							<TR><TD>measures/volumetric/SurfaceHoles</TD><TD>#xdatTextBox("fs:fsData/measures/volumetric/SurfaceHoles" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN fs:fsData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_1_COUNTER in [0..5])
<!-- BEGIN fs:fsData/in/file[$xnat_abstractResource_1_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_2_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END fs:fsData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
								</TABLE>
<!-- END fs:fsData/in/file[$xnat_abstractResource_1_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_2_COUNTER in [0..5])
<!-- BEGIN fs:fsData/out/file[$xnat_abstractResource_2_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_3_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END fs:fsData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
								</TABLE>
<!-- END fs:fsData/out/file[$xnat_abstractResource_2_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN fs:fsData/parameters/addParam -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/parameters/addParam</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>addField</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_addField_3_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("fs:fsData/parameters/addParam[$xnat_addField_3_COUNTER]/addField" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/parameters/addParam[$xnat_addField_3_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("fs:fsData/parameters/addParam[$xnat_addField_3_COUNTER]/xnat_addField_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END fs:fsData/parameters/addParam -->
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:fsData/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
																#xdatHiddenBox("fs:fsData/provenance/prov_process_id" $item "")
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#foreach($prov_processStep_4_COUNTER in [0..5])
<!-- BEGIN fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER] -->
											<TABLE>
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR><TD>program</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/program" $item "" $vr)</TD></TR>
															<TR><TD>program/version</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/program/version" $item "" $vr)</TD></TR>
															<TR><TD>program/arguments</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/program/arguments" $item "" $vr)</TD></TR>
															<TR><TD>timestamp</TD><TD>#xdatTextBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/timestamp" $item "" $vr)</TD></TR>
															<TR><TD>cvs</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/cvs" $item "" $vr)</TD></TR>
															<TR><TD>user</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/user" $item "" $vr)</TD></TR>
															<TR><TD>machine</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/machine" $item "" $vr)</TD></TR>
															<TR><TD>platform</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/platform" $item "" $vr)</TD></TR>
															<TR><TD>platform/version</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/platform/version" $item "" $vr)</TD></TR>
															<TR><TD>compiler</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/compiler" $item "" $vr)</TD></TR>
															<TR><TD>compiler/version</TD><TD>#xdatStringBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/compiler/version" $item "" $vr)</TD></TR>
																					#xdatHiddenBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/prov_processStep_id" $item "")
														</TABLE>
													</TD>
												</TR>
<!-- BEGIN fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/library</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR>
																<TD>library</TD>
																<TD>version</TD>
															</TR>
															#foreach($prov_processStep_library_5_COUNTER in [0..5])
																<TR>
																	<TD>#xdatTextBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/library" $item "" $vr)</TD>
																	<TD>#xdatTextBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/version" $item "" $vr)</TD>
																	#xdatHiddenBox("fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/prov_processStep_library_id" $item "")
																</TR>
															#end
														</TABLE>
													</TD>
												</TR>
<!-- END fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
											</TABLE>
<!-- END fs:fsData/provenance/processStep[$prov_processStep_4_COUNTER] -->
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:fsData/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:fsData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("fs:fsData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("fs:fsData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("fs:fsData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("fs:fsData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("fs:fsData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("fs:fsData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("fs:fsData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("fs:fsData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("fs:fsData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:fsData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:fsData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("fs:fsData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("fs:fsData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("fs:fsData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("fs:fsData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("fs:fsData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("fs:fsData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:fsData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_7_COUNTER in [0..5])
<!-- BEGIN fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_8_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
								</TABLE>
<!-- END fs:fsData/resources/resource[$xnat_abstractResource_7_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN fs:fsData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_8_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("fs:fsData/fields/field[$xnat_experimentData_field_8_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/fields/field[$xnat_experimentData_field_8_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("fs:fsData/fields/field[$xnat_experimentData_field_8_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END fs:fsData/fields/field -->
<!-- BEGIN fs:fsData/measures/volumetric/regions/region -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/measures/volumetric/regions/region</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>NVoxels</TD>
								<TD>Volume</TD>
								<TD>normMean</TD>
								<TD>normStdDev</TD>
								<TD>normMin</TD>
								<TD>normMax</TD>
								<TD>normRange</TD>
								<TD>ilp_norm</TD>
								<TD>ilp_zScore</TD>
								<TD>SegId</TD>
								<TD>name</TD>
								<TD>hemisphere</TD>
							</TR>
							#foreach($fs_fsData_vol_region_8_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/NVoxels" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/Volume" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/normMean" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/normStdDev" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/normMin" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/normMax" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/normRange" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/ilp_norm" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/ilp_zScore" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/SegId" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/name" $item "" $vr)</TD>
									<TD>#xdatTextBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/hemisphere" $item "" $vr)</TD>
									#xdatHiddenBox("fs:fsData/measures/volumetric/regions/region[$fs_fsData_vol_region_8_COUNTER]/fs_fsData_vol_region_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END fs:fsData/measures/volumetric/regions/region -->
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($fs_fsData_hemisphere_8_COUNTER in [0..5])
<!-- BEGIN fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>NumVert</TD><TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/NumVert" $item "" $vr)</TD></TR>
												<TR><TD>SurfArea</TD><TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/SurfArea" $item "" $vr)</TD></TR>
												<TR><TD>name</TD><TD>#xdatStringBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/name" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/fs_fsData_hemisphere_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>NumVert</TD>
													<TD>SurfArea</TD>
													<TD>GrayVol</TD>
													<TD>ThickAvg</TD>
													<TD>ThickStd</TD>
													<TD>MeanCurv</TD>
													<TD>GausCurv</TD>
													<TD>FoldInd</TD>
													<TD>CurvInd</TD>
													<TD>ilp_norm</TD>
													<TD>ilp_zScore</TD>
													<TD>name</TD>
												</TR>
												#foreach($fs_fsData_surf_region_9_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/NumVert" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/SurfArea" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/GrayVol" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/ThickAvg" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/ThickStd" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/MeanCurv" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/GausCurv" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/FoldInd" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/CurvInd" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/ilp_norm" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/ilp_zScore" $item "" $vr)</TD>
														<TD>#xdatTextBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region[$fs_fsData_surf_region_9_COUNTER]/fs_fsData_surf_region_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER]/regions/region -->
								</TABLE>
<!-- END fs:fsData/measures/surface/hemisphere[$fs_fsData_hemisphere_8_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END fs:fsData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateExperimentForm();
   return false;
}
</script>
