<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("EncounterLog Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>EncounterLog Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("sf:encounterLog/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("sf:encounterLog/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("sf:encounterLog/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("sf:encounterLog/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("sf:encounterLog/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("sf:encounterLog/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("sf:encounterLog/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("sf:encounterLog/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("sf:encounterLog/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("sf:encounterLog/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("sf:encounterLog/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("sf:encounterLog/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("sf:encounterLog/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("sf:encounterLog/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("sf:encounterLog/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("sf:encounterLog/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("sf:encounterLog/label")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN sf:encounterLog -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("sf:encounterLog/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN sf:encounterLog/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:encounterLog/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("sf:encounterLog/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("sf:encounterLog/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("sf:encounterLog/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("sf:encounterLog/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("sf:encounterLog/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END sf:encounterLog/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:encounterLog/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:encounterLog/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("sf:encounterLog/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("sf:encounterLog/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("sf:encounterLog/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("sf:encounterLog/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("sf:encounterLog/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("sf:encounterLog/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("sf:encounterLog/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("sf:encounterLog/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:encounterLog/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:encounterLog/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:encounterLog/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("sf:encounterLog/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("sf:encounterLog/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("sf:encounterLog/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("sf:encounterLog/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("sf:encounterLog/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:encounterLog/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("sf:encounterLog/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END sf:encounterLog/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("sf:encounterLog/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN sf:encounterLog/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:encounterLog/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("sf:encounterLog/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("sf:encounterLog/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END sf:encounterLog/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($sf_encounterLog_encounter_7_NUM_ROWS=$item.getChildItems("sf:encounterLog/encounters/encounter").size() - 1)
							#if($sf_encounterLog_encounter_7_NUM_ROWS>=0)
								#foreach($sf_encounterLog_encounter_7_COUNTER in [0..$sf_encounterLog_encounter_7_NUM_ROWS])
<!-- BEGIN sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>date</TD><TD>$!item.getProperty("sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER]/date")</TD></TR>
													<TR><TD>time</TD><TD>$!item.getProperty("sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER]/time")</TD></TR>
													<TR><TD>encounter_type</TD><TD>$!item.getStringProperty("sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER]/encounter_type")</TD></TR>
													<TR><TD>project_timepoint</TD><TD>$!item.getStringProperty("sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER]/project_timepoint")</TD></TR>
													<TR><TD>subject_status</TD><TD>$!item.getStringProperty("sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER]/subject_status")</TD></TR>
													<TR><TD>comment</TD><TD>$!item.getStringProperty("sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER]/comment")</TD></TR>
													<TR><TD>encounter_number</TD><TD>$!item.getStringProperty("sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER]/encounter_number")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END sf:encounterLog/encounters/encounter[$sf_encounterLog_encounter_7_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END sf:encounterLog -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
