<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ClinicalAssessment Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("cnda:clinicalAssessmentData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/label" $item "" $vr)</TD></TR>
							<TR><TD>BloodPressure/HighBP_CS_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/BloodPressure/HighBP_CS_Bool" $item false $vr)</TD></TR>
							<TR><TD>BloodPressure/systolic</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/BloodPressure/systolic" $item "" $vr)</TD></TR>
							<TR><TD>BloodPressure/diastolic</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/BloodPressure/diastolic" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/SBT</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/SBT" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/MMSE</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/MMSE" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/Bdsc</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/Bdsc" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/CDR/memory</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/CDR/memory" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/CDR/orientation</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/CDR/orientation" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/CDR/judgment_problem_solving</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/CDR/judgment_problem_solving" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/CDR/community_affairs</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/CDR/community_affairs" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/CDR/home_hobbies</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/CDR/home_hobbies" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/CDR/personal_care</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/CDR/personal_care" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/CDR/sumbox</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/CDR/sumbox" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/CDR/rating</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Neuro/CDR/rating" $item "" $vr)</TD></TR>
							<TR><TD>Neuro/ThinkingProblem_S_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Neuro/ThinkingProblem_S_Bool" $item false $vr)</TD></TR>
							<TR><TD>Neuro/ThinkingProblem_CS_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Neuro/ThinkingProblem_CS_Bool" $item false $vr)</TD></TR>
							<TR><TD>Neuro/ConsMemoryProblem_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Neuro/ConsMemoryProblem_Bool" $item false $vr)</TD></TR>
							<TR><TD>Neuro/StrokeBool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Neuro/StrokeBool" $item false $vr)</TD></TR>
							<TR><TD>Neuro/Sx_Stroke_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Neuro/Sx_Stroke_Bool" $item false $vr)</TD></TR>
							<TR><TD>Neuro/Sx_Tia_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Neuro/Sx_Tia_Bool" $item false $vr)</TD></TR>
							<TR><TD>Movement/Spasticity_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Movement/Spasticity_Bool" $item false $vr)</TD></TR>
							<TR><TD>Movement/Rigid</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Movement/Rigid" $item "" $vr)</TD></TR>
							<TR><TD>Movement/Bradyk_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Movement/Bradyk_Bool" $item false $vr)</TD></TR>
							<TR><TD>Movement/Gait</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Movement/Gait" $item "" $vr)</TD></TR>
							<TR><TD>Movement/AbnormalGait_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Movement/AbnormalGait_Bool" $item false $vr)</TD></TR>
							<TR><TD>Weight</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/Weight" $item "" $vr)</TD></TR>
							<TR><TD>Diabetes_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/Diabetes_Bool" $item false $vr)</TD></TR>
							<TR><TD>HeartProblems_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/HeartProblems_Bool" $item false $vr)</TD></TR>
							<TR><TD>TobaccoUse_Bool</TD><TD>#xdatBooleanRadio("cnda:clinicalAssessmentData/TobaccoUse_Bool" $item false $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cnda:clinicalAssessmentData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:clinicalAssessmentData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:clinicalAssessmentData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:clinicalAssessmentData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:clinicalAssessmentData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("cnda:clinicalAssessmentData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:clinicalAssessmentData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:clinicalAssessmentData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN cnda:clinicalAssessmentData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("cnda:clinicalAssessmentData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:clinicalAssessmentData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("cnda:clinicalAssessmentData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END cnda:clinicalAssessmentData/fields/field -->
<!-- BEGIN cnda:clinicalAssessmentData/Diagnosis -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/Diagnosis</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>Diagnosis</TD>
								<TD>type</TD>
								<TD>number</TD>
							</TR>
							#foreach($cnda_clinicalAssessmentData_Diagnosis_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_4_COUNTER]/Diagnosis" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_4_COUNTER]/type" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_4_COUNTER]/number" $item "" $vr)</TD>
									#xdatHiddenBox("cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_4_COUNTER]/cnda_clinicalAssessmentData_Diagnosis_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END cnda:clinicalAssessmentData/Diagnosis -->
<!-- BEGIN cnda:clinicalAssessmentData/Medication -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/Medication</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>name</TD>
								<TD>type</TD>
								<TD>dose</TD>
								<TD>history</TD>
							</TR>
							#foreach($cnda_clinicalAssessmentData_Medication_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_4_COUNTER]/name" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_4_COUNTER]/type" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_4_COUNTER]/dose" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_4_COUNTER]/history" $item "" $vr)</TD>
									#xdatHiddenBox("cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_4_COUNTER]/cnda_clinicalAssessmentData_Medication_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END cnda:clinicalAssessmentData/Medication -->
			</TABLE>
<!-- END cnda:clinicalAssessmentData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
