<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Tim Olsen (Washington University) -->
<Instance_Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schemas/xdat/instance.xsd" site_url="%SITE_URL%" admin_email="<%= admin_email %>" archive_root_path="<%= archive_path %>" prearchive_path="<%= prearchive_path %>" cache_path="<%= cache_path %>" smtp_server="<%= smtp_server %>" ftp_path="%FTP_LOCATION%" build_path="%BUILD_LOCATION%" pipeline_path="%PIPELINE_DEPLOYMENT%" require_login="true" user_registration="" enable_csrf_token="%ENABLE_CSRF_TOKEN%">
	<Databases>
		<Database Type="POSTGRESQL" Id="<%= db_id %>" Driver="org.postgresql.Driver" Url="jdbc:postgresql://<%= db_host %>/<%= db_name %>" User="<%= db_user %>" Pass="<%= db_pass %>" MaxConnections="<%= db_conns %>"/>
	</Databases>
	<Models>
		<Data_Model File_Name="security.xsd" File_Location="schemas/security" DB="<%= db_id %>"/>
		<Data_Model File_Name="birnprov.xsd" File_Location="schemas/birn" DB="<%= db_id %>"/>
		<Data_Model File_Name="xnat.xsd" File_Location="schemas/xnat" DB="<%= db_id %>"/>
		<Data_Model File_Name="workflow.xsd" File_Location="schemas/pipeline" DB="<%= db_id %>"/>
		<Data_Model File_Name="repository.xsd" File_Location="schemas/pipeline" DB="<%= db_id %>"/>
		<Data_Model File_Name="project.xsd" File_Location="schemas/project" DB="<%= db_id %>"/>
		<Data_Model File_Name="assessments.xsd" File_Location="schemas/assessments" DB="<%= db_id %>"/>
		<Data_Model File_Name="catalog.xsd" File_Location="schemas/catalog" DB="<%= db_id %>"/>
		<Data_Model File_Name="protocolValidation.xsd" File_Location="schemas/validation" DB="<%= db_id %>"/>
		<Data_Model File_Name="screeningAssessment.xsd" File_Location="schemas/screening" DB="<%= db_id %>"/>

<!--<Data_Model File_Name="ext.xsd" File_Location="schemas/ext" DB="<%= db_id %>"/>-->
		<!-- Start modules schemas: Reserved for xnat_builder, don't modify anything between this line and the end modules line. -->
		<Data_Model File_Name="pup.xsd" File_Location="schemas/pup" DB="<%= db_id %>"/>
		<Data_Model File_Name="genetics.xsd" File_Location="schemas/genetics" DB="<%= db_id %>"/>
		<Data_Model File_Name="subjforms.xsd" File_Location="schemas/subjforms" DB="<%= db_id %>"/>
		<Data_Model File_Name="adrc.xsd" File_Location="schemas/adrc" DB="<%= db_id %>"/>
		<Data_Model File_Name="cnda_xnat.xsd" File_Location="schemas/cnda_xnat" DB="<%= db_id %>"/>
		<Data_Model File_Name="nunda.xsd" File_Location="schemas/nunda" DB="<%= db_id %>"/>
		<Data_Model File_Name="sapssans.xsd" File_Location="schemas/sapssans" DB="<%= db_id %>"/>
		<Data_Model File_Name="fs.xsd" File_Location="schemas/fs" DB="<%= db_id %>"/>
		<Data_Model File_Name="neurocog.xsd" File_Location="schemas/neurocog" DB="<%= db_id %>"/>
		<!-- End modules schemas: Reserved for xnat_builder, don't modify anything between this line and the start modules line. -->
	</Models>
</Instance_Settings>


